/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 0; /* Remove unnecessary padding */
    margin: 0; /* Remove unnecessary margin */
}

/* Header Styles */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Reduce spacing after the header */
}

header h1 {
    font-size: 2.5em;
}

/* Data Range Filter Form */
.danger {
    color: red;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.success {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Main Content */
.container {
    max-width: 2200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0; /* Remove excessive space before content */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0; /* Remove any margin */
    font-size: 1em;
    border-radius: 5px;
    overflow: hidden;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #5d77a8;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Buttons */
button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Add space between button and other elements */
}

button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}
